/* The clearfix method */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
/* Basic Styling of the Body */
body {
  background: #e0e0e0 url(/demo/responsive-nav/img/background.png);
  margin: 0 auto;
  color: black;
  text-align: center;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 300 !important;
  font-size: 10px;
  position: relative;
  overflow: auto;
  max-width: 1300px;
}
a:link,
a:visited {
  color: #666;
  text-decoration: underline;
}
a:hover,
a:active {
  color: #a67b45;
  text-decoration: none;
  outline: none;
}
a:active {
  color: #ff6000;
}
/* Le Header */
header {
  padding: 20px 0;
  position: relative;
  /* The common properties in the NAV element */

  /* Making sure lists have no margin/padding */

}
header h1#branding a {
  font-family: "Euphoria Script", cursive;
  font-weight: normal;
}
header h1#branding a:link,
header h1#branding a:visited {
  color: #000;
  text-decoration: none;
}
header h1#branding a:hover,
header h1#branding a:active {
  color: #a67b45;
  text-decoration: none;
}
header h2#tagline {
  text-align: center;
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
  color: #444;
}
header nav {
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top, #ffffff, #ededed);
  background-image: -ms-linear-gradient(top, #ffffff, #ededed);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ededed));
  background-image: -webkit-linear-gradient(top, #ffffff, #ededed);
  background-image: -o-linear-gradient(top, #ffffff, #ededed);
  background-image: linear-gradient(top, #ffffff, #ededed);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
}
header ul#menu {
  margin: 0 !important;
  padding: 0 !important;
}
/* The content and footer sections */
section.content,
footer {
  padding: 10px 20px;
  background: #FFF;
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: left;
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
}
footer {
  margin: 20px 0;
}
/* Dimension (or rather, just the Screen Width) display */
#dimensions {
  position: fixed;
  right: 10px;
  bottom: 0px;
  background: #000;
  font-size: 13px;
  color: #FFF;
  padding: 10px;
}
